# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local environment variables
.env*.local
.env

# Firebase service account key
service-account-key.json
*-service-account-key.json
*.json # Be careful with this, if you have other JSON files you want to commit.

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
